@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}
@font-face {
  font-family: "Patua";
  src: url("../public/assets/Patua.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("../public/assets/Quicksand.ttf");
}
@font-face {
  font-family: "Quicksand-bold";
  src: url("../public/assets/Quicksand-bold.ttf");
}
@font-face {
  font-family: "cyrvetica";
  src: url("../public/assets/cyrvetica.ttf");
}
@font-face {
  font-family: "misto";
  src: url("../public/assets/Misto.ttf");
}
@font-face {
  font-family: "chromate";
  src: url("../public/assets/Chromate.ttf");
}
